body
{
	padding: 0;
	margin: 0;
}

/*info general style*/
.title 
{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
}

.info 
{
	width: 100%;
	height: 20px;
	background-color: red;
	position: absolute;
	top: 105px;
	overflow: hidden;
}

.text{
	position: absolute;
}


/*general container style*/
#container
{
	position: relative;
	background-color: #858585;
	height: 100vh;
}

.box
{
	position: absolute;
	width: 20%;
	top: 0;
}

/*individual style*/
/*box 1*/
.box:nth-child(1)
{
	left: 0;
}

.box:nth-child(1) .title
{
	background-color: #55A6C8;
}

.box:nth-child(1) .info
{
	background-color: #B4A588;
}

/*box 2*/
.box:nth-child(2)
{
	left: 21%;
}

.box:nth-child(2) .title
{
	background-color: #336377;
}

.box:nth-child(2) .info
{
	background-color: #FFEAC0;
}

/*box 3*/
.box:nth-child(3)
{
	left: 42%;
}

.box:nth-child(3) .title
{
	background-color: #4E98B7;
}

.box:nth-child(3) .info
{
	background-color: #B4A588;
}
